

  .submit-button:disabled {
    cursor: not-allowed;
    background-color: #D1D5DB;
    color: #111827;
  }

  .submit-button:disabled:hover {
    background-color: #9CA3AF;
  }

  .credit-card {
    max-width: 400px;
    margin-top: 3rem;
  }

  

    
  