.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    opacity: 0.9;
}
.card:hover{
    transform: scale(1.07);
    opacity: 1;
}
.card img{
    height: 70%;
    width:100%;
}
.card-body .card-text{
    text-align: center;
    height: 30%;
    width: 100%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    margin-top: 1vh;
}
#qyt-card{
    margin-top: 2%;
    text-align: start;
}