@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

#login{
    margin-top: 14vh;
    height: 86vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    overflow-x: hidden !important;
}
h1{
    margin-top: 8vh;
    text-align: center;
    height: 8vh;
    width: 100%;
    font-family: 'Libre Baskerville', serif;
    color: black;
}
#login-form{
    margin-top: 4vh;
    height: 50vh;
    width: 50vw;
    margin-bottom: 6vh;
    margin-left: 25vw;
    margin-right: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    border-radius: 15px;
    font-family: 'Libre Baskerville', serif;
}
#login-form input{
    width: 70%;
    margin: 3vh;
    height: 6vh;
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
    outline: none;
}
#login-btn{
    width: 35% !important;
}
